<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.anibij.demoapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission - Internet Connect -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignDemo">
        <activity
            android:name=".NewMainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".StatusActivity"
            android:label="@string/post_message"/>
        <activity
            android:name=".search.SearchFragmentActivity"
            android:label="@string/search_title"
            android:parentActivityName=".NewMainActivity"/>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/tweet_details"
            android:parentActivityName=".NewMainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewMainActivity"/>
        </activity>

        <receiver android:name=".service.StatusObserver">
            <intent-filter>
                <action android:name="com.anibij.tweetsurferweetsurfer.NEW_STATUSES"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.RefreshService"/>

        <provider
            android:name=".model.StatusProvider"
            android:authorities="com.anibij.demoapp"
            android:exported="false"/>
        <provider
            android:name=".model.MentionTweetProvider"
            android:authorities="com.anibij.demoapp.mentions"
            android:exported="false"/>

        <activity
            android:name=".search.SearchResultActivity"
            android:parentActivityName=".NewMainActivity">
        </activity>

        <provider
            android:name=".model.DirectMessageProvider"
            android:authorities="com.anibij.demoapp.directmessages"
            android:enabled="true"
            android:exported="true">
        </provider>
    </application>

</manifest>